# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.tox/

# Env
.env
.env.local

# Build / dist
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# App
app/scraper/config/_samples/
*.log
